input {
    margin-left: 20px;
    width: 450px;
    background-color: lightcyan;

}

body {
    text-align: center;
    background-color: lightblue;
}

h1 {
    background-color: lightcyan;
}

select option:hover {
background-color: lightcyan;
transition-duration: 0.5s;
}